body{
    background-color: rgb(226, 201, 119);
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background-color: white;
    padding: 20px;
    z-index: 1000; /* Ensures it's above other elements */
  }

a {
    color:rgb(61, 11, 243);
    text-decoration: none;
}

a:hover {
    color: crimson;
}

main {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    flex: 0.9;
}

h2{
    text-align: center;
}

img{
    width: 60%;
}

figure{
    text-align: center;
    font-style: italic;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #f4e2a4; /* Matching background */
    padding: 10px;
}