body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
  }
  
  .container {
    position: relative;
    max-width: 900px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  img {
    vertical-align: middle;
    width: 100%;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
  }
  
  .next {
    right: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .demo {
    opacity: 0.6;
    width: 100%;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  