<nav>
    <a href="https://webpages.uncc.edu/lnguye65">Charlotte.edu || </a>
    
    <a href="https://github.com/lnguye782">Github || </a>
    
    <a href="https://github.com/lnguye782/lnguye782.github.io.git">Github.io || </a>
    
    <a href="https://www.freecodecamp.org/lnguye74">freeCodeCamp || </a>
    
    <a href="https://www.codecademy.com/profiles/lnguye74">Codecademy || </a>
    
    <a href="https://www.linkedin.com/in/longnguyen9974">LinkedIn || </a>

    <a href="https://www.freecodecamp.org/certification/lnguye74/responsive-web-design"><i>Certified in Responsive Web Design</i></a>
</nav>

<p>Page designed by <a href="/lnguye65/itis3135/longvnproduction">LongVN Production</a> &copy; 2025</p>